body{
    background-color: #fcfcf9;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 20px;
}

.titleCD{
    font-size: 60px;
}

h2{
    text-align: center;
    letter-spacing: 9px;
    margin-bottom: 120px;
    margin-top: 90px;
    font-size: 50px;
}

.count {
    text-align: center;
    background-color: black;
    margin-top: 60px;
}

li {  
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: white;
  margin-right: 50px;
}

li span {
  display: block;
  font-size: 50px!important;
}

.accredito{
    cursor: pointer;
}

.cergo{
    margin-bottom: 60px;
}

.gif{
    text-align: center;
        margin-left: 14px;
}

.click{
    width: 100%;
    height: 200px;
    margin-top: 110px;
    font-size: 35px;
    text-align: center;
}

.contC{
    margin-top: 150px;
    font-size: 20px;
}
