body{
    background-color: #fcfcf9;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 20px;
    margin-bottom: 80px;
}

.titleCD{
    font-size: 60px;
}

h2{
    text-align: center;
    letter-spacing: 9px;
    margin-bottom: 20px;
}

.containerCount {
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.accredito{
    cursor: pointer;
}

.cergo{
    margin-bottom: 60px;
}

.gif{
    text-align: center;
}

.click{
    width: 100%;
    height: 200px;
    margin-top: 110px;
    font-size: 35px;
    text-align: center;
}