body{
    background-color: #fcfcf9;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 30px;
    margin-bottom: 50px;
}

h3{
    color: black;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 35px;
}

h2{
    text-align: center;
    letter-spacing: 9px;
}

.accredito{
    cursor: pointer;
}

.gif{
    /*width: 50%;
    height: auto;*/
    /*border: solid 1px black;*/
}